<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!-- This is the connection string for connection to a MySQL server using an ODBC connection. -->
    <!-- If you are using DSN, you basically only need a DSN name, othwerise you need to specify -->
    <!-- DATABASE, UID, Password, Server -->
    <add name="ConnStr" connectionString="DSN=NextStep"/>
  </connectionStrings>
</configuration>
